<!DOCTYPE html>
<html lang="en-US">
<title>Jasmine's Blog</title>
{{> header}}

<h1>Jasmine Moore's Blog</h1>
{{#posts}}
    <hr>
    <article>
    {{{.}}}
    </article>
{{/posts}}
{{^posts}}
<p>(No posts here yet)</p>
{{/posts}}
</body>
</html>