<!DOCTYPE html>
<html lang="en-US">
<title>Jasmine's Blog</title>
{{> header}}

<h1>Jasmine Moore's Blog</h1>
{{#posts}}
    <hr>
    <article>
        <h1>{{title}}</h1>
        <p>Last edited: <time datetime="{{post_date}}" rel="last-edited">{{post_date}}</time></p>
    {{{body}}}
    </article>
{{/posts}}
{{^posts}}
<p>(No posts here yet)</p>
{{/posts}}
</body>
</html>