<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="/static/main.css">
<body>
<header>
    <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/pages/salary-transparency">Salary Transparency</a></li>
    </ul>
</header>

<h1>Salary Transparency</h1>
This is inspired by <a href="https://xeiaso.net/salary-transparency">Xe Iaso's salary transparency page</a>. It will list
jobs I've had, and how much I got paid. It will be updated when I update my resume.

<table>
    <thead><tr>
        <td>Title</td>
        <td>Employer</td>
        <td>Start Date</td>
        <td>End Date</td>
        <td>Salary</td>
        <td>How I Left</td>
    </tr></thead>
    <tr>
        <td>Lead Infrastructure Developer</td>
        <td>AdeptMind, Inc.</td>
        <td>2022-05-01</td>
        <td>2022-04-21</td>
        <td>$225,000 CAD</td>
        <td>Quit</td>
    </tr>
    <tr>
        <td>Software Development Expert&#x271D; II</td>
        <td>Microsoft (Turing)</td>
        <td>2019-11-01</td>
        <td>2022-05-01</td>
        <td>$149,000 CAD + $30,000 USD</td>
        <td>Quit (vesting cliff ended)</td>
    </tr>
    <tr>
        <td>Software Development Expert&#x271D;</td>
        <td>Microsoft Research</td>
        <td>2017-04-01</td>
        <td>2019-11-01</td>
        <td>$132,000 CAD + $30,000 USD</td>
        <td>Promoted / Team Switch</td>
    </tr>
    <tr>
        <td>Infrastructure Developer</td>
        <td>Maluuba</td>
        <td>2014-01-15</td>
        <td>2017-04-01</td>
        <td>$65,000 CAD</td>
        <td>Acquired</td>
    </tr>
    <tr>
        <td>Lead Developer</td>
        <td>WhatsBusy</td>
        <td>2012-04-01</td>
        <td>2013-11-01</td>
        <td>$50,000 USD</td>
        <td>Quit</td>
    </tr>
</table>
<sub>&#x271D; "Software Development Expert" is a backronym of SDE specific to Quebec.</sub>
</body>
</html>