<link rel="stylesheet" href="/static/main.css">
<link rel="alternate" type="application/rss+xml" title="Jasmine's Blog RSS" href="/rss.xml">
</head>
<body>
<header>
    <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/pages/salary-transparency">Salary Transparency</a></li>
    </ul>
</header>