<link rel="stylesheet" href="/static/main.css">
<body>
<header>
    <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/pages/salary-transparency">Salary Transparency</a></li>
    </ul>
</header>